.card {
  background: rgba(0, 0, 0, 0.5);
  width: 150px;
  border-radius: 10px;
  margin: auto;
}
.card-header {
  font-weight: bold;
}
.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-top: 5px;
}
.clock {
  width: 30px;
}
.data {
  padding: 0px 0px 2px 2px;
}
li {
  list-style: none;
}
