.container {
  margin-top: 50px;
  padding: 10px;
  margin: auto;
  max-width: 1200px;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
