.weather-box {
  position: relative;
  margin: -30px auto;
  margin-bottom: 10px;
  width: 50%;
  padding: 40px;
  background: #2b6777;
  box-sizing: border-box;
  border-radius: 10px;
}

.weather-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #f2f2f2;
  text-align: center;
}
.location {
  margin: auto;
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.weather-box .input-box {
  position: relative;
}

.weather-box .input-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.weather-box .input-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: 0.5s;
}

.weather-box .input-box input:focus ~ label,
.weather-box .input-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #f2f2f2;
  font-weight: bold;
  font-size: 16px;
}

.weather-btn {
  color: #2b6777;
  font-size: 16px;
  font-weight: bold;
  border: none;
  background-color: #fff;
  margin: auto;
  display: block;
  border-radius: 5px;
  padding: 10px;
}
.container {
  margin: auto;
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.error {
  color: white;
  font-size: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(207, 137, 137);
  padding: 10px;
  width: fit-content;
  margin: 20px auto;

  animation: shake-animation 2.72s ease infinite;
  transform-origin: 50% 50%;
}

@keyframes shake-animation {
  0% {
    transform: translate(0, 0);
  }
  1.78571% {
    transform: translate(5px, 0);
  }
  3.57143% {
    transform: translate(0, 0);
  }
  5.35714% {
    transform: translate(5px, 0);
  }
  7.14286% {
    transform: translate(0, 0);
  }
  8.92857% {
    transform: translate(5px, 0);
  }
  10.71429% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}

/* media queries */
@media screen and (max-width: 600px) {
  .weather-box {
    width: 90%;
  }
  .location {
    flex-direction: column;
  }
}
