body {
  margin: 0;
  padding: 0;
  padding-bottom: 60px;
  background-color: #fff;
}
.brand,
.footer {
  font-size: 1.5rem;
  font-weight: bold;
  width: 100%;
  color: #2b6777;
  background: #c8d8e4;
  text-align: center;
  justify-content: center;
}
.brand {
  top: 0;
  padding: 10px 0;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
}
